.Wdate{
	border:#d5d5d5 1px solid;
	height:28px;
	border-radius: 4px;
	background:#fff url(datePicker.gif) no-repeat right;
	width: 78%;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}